<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ייצוא דו"חות</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
        <!-- mobile compatibility -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- styles -->
        <!-- bootstrap related - latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <!-- website-specific css & js -->
        <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet" type="text/css" >
        <!-- bootstrap related - jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
        <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
        <!-- bootstrap related - Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- bootstrap related - Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/129cd72893.js" crossorigin="anonymous"></script>
    </head>


    <body>
        <header class="">
            <div class="logo row justify-content-center align-items-center">
                <div class="english">
                    <img src="./static/img/logo.png" class="logo-img">
                    <h3><span class="green-text">B</span>ahad 15</h3>
                </div>
            </div>
            <!-- <nav class=""
            </nav> -->
            <hr>
        </header>
        
        <div class="main-wrapper green-gradient-bg preview_wrapper">
            <div class="medical-preview-content-wrapper" style="margin: auto">
                <h3>ייצוא דו"חות</h3>
                <p style="text-align: center">
                    הדו"חות נשלחו למייל בהצלחה.
                </p>
                <div class="dab-img"></div>
            </div>
        </div>
        <footer class="">
        </footer>
    </body>
</html>